* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: underline;
    color: blue;
    font-size: 22px;
}

.center-btn {
    margin: 0 auto;
    display: block;
    width: 140px;
    height: 100px;
    line-height: 100px;
    border: 1px black solid;
    border-radius: 3px;
    background-color: white;
    text-align: center;
    vertical-align: central;
    font-weight: bold;
}

.btn-content {
    margin: 0 auto;
    display: block;
    vertical-align: central
}

.horizontal-ul {
    margin: 0 auto; /* Обнуляем значение отступов */
    display: block; 
    padding: 4px; /* Значение полей */
}

.horizontal-li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    border: 1px solid #000; /* Рамка вокруг текста */
    padding: 8px; /* Поля вокруг текста */
    line-height: 40px;
}

.remove-decor {
    text-decoration: none;
}